---
layout: default
---

<article>
  <header>
    <h1 class="title">{{ page.title }}</h1>

    <div class="meta">
      <span>{{ page.author }}</span>
      on {{ page.date | date_to_string }}
    </div>
  </header>

  <div class="body" role="presentation">
    {{ content }}
  </div>
</article>
