---
layout: default
---

<article>

  <header>
    <h1 class="title">{{ page.title }}</h1>

    <p class="desc">{{ page.description }}</p>

    <div class="meta">
      {% if page.repo_url %}
        <a href="{{ page.repo_url }}">Source code repository</a>
      {% endif %}
    </div>
  </header>

  <div class="body" role="presentation">
    {{ content }}
  </div>

</article>
