---
layout: default
---

<article>
  <header>
    <h1 class="title">{{ page.title }}</h1>

    <p class="desc">{{ page.description }}</p>

    <div class="meta">
      {% if page.rfc_id %}
        <a href="http://ietf.org/html/rfc{{ page.rfc_id }}">RFC {{ page.rfc_id }}</a> {% endif %}
    </div>
  </header>

  <div class="body" role="presentation">
    {{ content }}
  </div>
</article>
